/* estiloscss.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}



.main {
    width: 100%;
    min-height: 80vh;
    padding-top: 4em; /* Ajuste para evitar solapamiento con la barra de inicio */
    background-color: #e6c96c
}


.section-2 {
    background-color: #f3eb7f; /* Light background for contrast */
    padding: 20px; /* Space around the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-size: 145%;
    margin: 20px auto; 
    text-align: justify; 
}

.s2-textos {
    text-align: center; /* Alineación central del texto */
    margin-bottom: 4em; /* Espacio inferior entre el título y las imágenes */
}


.box {
    background-color: #333;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.box a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.box .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #f39c12;
    animation: shine 1.5s infinite;
}

.box .arrow.left {
    left: 15px;
}

.box .arrow.right {
    right: 10px;
}

@keyframes shine {
    0% { text-shadow: 0 0 5px #f39c12, 0 0 10px #f39c12; }
    50% { text-shadow: 0 0 10px #f39c12, 0 0 20px #f39c12; }
    100% { text-shadow: 0 0 5px #f39c12, 0 0 10px #f39c12; }
}